body {
    border: 5px solid black;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.students-name {
    display: flex;
    flex-direction: row;
    color: blue;
    font-size: 1.3em;
    justify-content: space-between;
    width: 150px;
}

h1 {
    font-style: italic;
}

.image-container {
    object-fit: cover;
    height: 500px;
    background-color: yellow;
}

img {
    display: inline;
    object-fit: cover;
    width: 40%;
    height: 100%;
    margin: 0 20px;
}

article {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.we-came-for {
    align-self: left;
}